// ----------
//
// s-markdown-content
//
// styles for our markdown content. this content can't have classes applied to it,
// so we have to do styling directly on the tags (scoped by this parent class,
// of course)
//
// -----------

.s-markdown-content {

  &--updates {

    h3,
    h6 {
      line-height: 1.1;
      margin: 0 auto 1.5rem;
    }

    h6 {
      font: {
        family: $f-serif;
        style: italic;
        weight: 400;
      }
    }

    blockquote + p {
      text-align: right;
    }
  }
}
