// ----------
//
// c-card
//
// card component for the display of most content
//
// ----------

.c-card {
  background: $c-white;
  box-shadow: 10px 10px 0 $c-grey;
  margin: 0 auto;
  max-width: 60rem;
  padding: 2.25rem;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  & + & {
    margin-top: 2.25rem;
  }
}
