// ----------
//
// c-due-date
//
// styles for our due date tracker
//
// ----------

.c-due-date {
  color: $c-white;
  font: {
    family: $f-serif;
    style: italic;
    weight: 400;
  }
  text-align: center;
}
