// ----------
//
// c-site-announcement
//
// styles for the main announcement component
//
// ----------

.c-site-announcement {
  color: $c-white;
  text: {
    align: center;
    shadow: 5px 5px 0 $c-grey;
  }
}
