// ----------
//
// c-site-section
//
// styles for specific components within site sections
//
// ----------

.c-site-section {

  &__header {
    color: $c-primary;
    margin: 3.375rem auto;
    text-shadow: 5px 5px 0 $c-secondary;
  }
}
