// ----------
//
// c-site-nav
//
// styles for the individual components that make up the site nav
//
// ----------

.c-site-nav {

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
  }

  &__item {
    display: block;

    & + & {
      margin-left: 1rem;
    }
  }

  &__link {
    border-bottom: 0;
    font: {
      family: $f-sans;
      weight: 700;
    }
    opacity: .5;
    transition: opacity $t-anim ease;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      color: lighten($c-primary, 15%);
    }
  }
}
