<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- begin open graph tags -->
  <meta property="og:site_name" content="Baby Showalter">
  <meta property="og:title" content="Baby Showalter will arrive in May, 2016">
  <meta property="og:description" content="Family website for our newborn">
  <meta property="og:image" content="http://www.orangedaisy.co/showalt-baby/assets/img/header-bg.jpg">
  <meta property="og:url" content="http://www.orangedaisy.co/showalt-baby">
  <meta property="og:type" content="blog">
  <!-- end open graph tags -->

  <title>We're having a baby!</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:700|Lora:400,400italic">
  <link rel="stylesheet" href="{{root}}assets/css/app.css">

  <style>
    .o-site-header {
      background:
        linear-gradient(
          rgba(44, 62, 80, .5),
          rgba(44, 62, 80, .5)
        ),
        url('{{root}}assets/img/header-bg.jpg');
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
    }
  </style>
</head>
