<section id="registry" class="o-site-section">

  <h2 class="c-site-section__header text-center">registry</h2>

  <article class="c-card">
    <p class="text-center">We're registered at Amazon!</p>
    <p class="text-center">
      <a style="border-bottom:none" href="http://www.amazon.com/registry/baby/3ZMLVKK0YZNE" title="Baby Registry at Amazon">
        <img style="height:5.063rem;width:auto;" src="{{root}}assets/img/amazon-logo.png" alt="Amazon Logo">
      </a>
    </p>
  </article>

</section>
