<section id="updates" class="o-site-section">

  <h2 class="c-site-section__header text-center">updates</h2>

  <article class="c-card s-markdown-content--update">
  {{#markdown}}
  ### Welcome!
  
  ###### January 8, 2016

  Welcome to our baby announcment website! We're expecting baby Showalter to
  join us sometime around May 23, 2016.

  We'll be using this page to post updates from our doctor's visits, pictures
  related to the pregnancy, and links to our registry.

  Thank you for joining us!
  {{/markdown}}
  </article>

</section>
