<section id="updates" class="o-site-section">

  <h2 class="c-site-section__header text-center">updates</h2>

  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 22

  ###### January 18, 2016

  > At 11 inches and almost 1 pound (about the size of a spaghetti squash), your
  baby is starting to look like a miniature newborn. Their lips, eyelids, and eyebrows
  are becoming more distinct, and they're even developing tiny tooth buds beneath
  their gums. Their eyes have formed, but their irises (the colored part of the
  eye) still lack pigment.

  > If you could see inside your womb, you'd be able to spot the fine hair that
  covers their body and the deep wrinkles on their skin, which they'll sport until
  they add a padding of fat to fill them in. Inside their belly, their pancreas
  &mdash; essential for the production of some important hormones &mdash; is
  developing steadily.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_22-weeks-pregnant_1111.bc)*
  {{/markdown}}
  </article>

  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 21

  ###### January 11, 2016

  > Your baby now weighs about three-quarters of a pound and is approximately 10 1/2
  inches long — about the size of a carrot. You may soon feel like they're practicing
  martial arts as their initial fluttering movements turn into full-fledged kicks
  and nudges. You may also discover a pattern to their activity as you get to know
  them better. In other developments, your baby's eyebrows and lids are present now,
  and if you're having a girl, her vagina has begun to form as well.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_your-pregnancy-21-weeks_1110.bc)*
  {{/markdown}}
  </article>

  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Welcome!

  ###### January 8, 2016

  Welcome to our baby announcment website! We're expecting baby Showalter to
  join us sometime around May 23, 2016.

  We'll be using this page to post updates from our doctor's visits, pictures
  related to the pregnancy, and links to our registry.

  Thank you for joining us!
  {{/markdown}}
  </article>

</section>
