<section id="updates" class="o-site-section">

  <h2 class="c-site-section__header text-center">updates</h2>

  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 28

  ###### February 29, 2016

  > By this week, your baby weighs 2 1/4 pounds (about the size of a large eggplant)
  and measures 14.8 inches from the top of their head to their heels. They can
  blink their eyes, which now sport lashes. With their eyesight developing, they
  may be able to see the light that filters in through your womb. They're also
  developing billions of neurons in their brain and adding more body fat in
  preparation for life in the outside world.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_28-weeks-pregnant_1117.bc)*
  {{/markdown}}
  </article>
  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 27

  ###### February 22, 2016

  > This week, your baby weighs almost 2 pounds (about the size of a head of
  cauliflower) and is about 14 1/2 inches long with their legs extended. They're
  sleeping and waking at regular intervals, opening and closing their eyes, and
  perhaps even sucking their fingers. With more brain tissue developing, your
  baby's brain is very active now. While their lungs are still immature, they
  would be capable of functioning &mdash; with a lot of medical help &mdash; if
  they were to be born now. Chalk up any tiny rhythmic movements you may be feeling
  to a case of baby hiccups, which may be common from now on. Each episode usually
  lasts only a few moments, and they don't bother them, so just relax and enjoy
  the tickle.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_27-weeks-pregnant_1116.bc)*
  {{/markdown}}
  </article>
  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 26

  ###### February 15, 2016

  > The network of nerves in your baby's ears is better developed and more
  sensitive than before. They may now be able to hear both your voice and your
  partner's as you chat with each other. They're inhaling and exhaling small
  amounts of amniotic fluid, which is essential for the development of their lungs.
  These so-called breathing movements are also good practice for when they're born
  and take that first gulp of air. Your baby is continuing to put on baby fat.
  They now weigh about 1 2/3 pounds and measure 14 inches (about the size of a
  scallion) from head to heel.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_26-weeks-pregnant_1115.bc)*
  {{/markdown}}
  </article>

  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 25

  ###### February 8, 2016

  > Head to heels, your baby now measures about 13 1/2 inches. Their weight &mdash;
  1 1/2 pounds &mdash; isn't much more than an average rutabaga, but they're
  beginning to exchange their long, lean look for some baby fat. As they do, their
  wrinkled skin will begin to smooth out and they'll start to look more and more
  like a newborn. They're also growing more hair — and if you could see it, you'd
  now be able to discern its color and texture.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_25-weeks-pregnant_1114.bc)*
  {{/markdown}}
  </article>

  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 24

  ###### February 1, 2016

  > Your baby's growing steadily, having gained about 4 ounces since last week.
  That puts them at about 1 1/3 pounds. Since they're almost a foot long (about
  the size of an ear of corn), they cut a pretty lean figure at this point, but
  their body is filling out proportionally and they'll soon start to plump up.
  Their brain is also growing quickly now, and their taste buds are continuing
  to develop. Their lungs are developing "branches" of the respiratory "tree" as
  well as cells that produce surfactant, a substance that will help their air
  sacs inflate once they hit the outside world. Their skin is still thin and
  translucent, but that will start to change soon.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_24-weeks-pregnant_1113.bc)*
  {{/markdown}}
  </article>
  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 23

  ###### January 25, 2016

  > Turn on the radio and sway to the music. With their sense of movement well
  developed by now, your baby can feel you dance. And now that they're more than
  11 inches long and weigh just over a pound (the size of a large mango), you may
  be able to see them squirm underneath your clothes. Blood vessels in their lungs
  are developing to prepare for breathing, and the sounds that your baby's
  increasingly keen ears pick up are preparing them for entry into the outside
  world. Loud noises that become familiar now &mdash; such as your dog barking
  or the roar of the vacuum cleaner &mdash; probably won't faze them when they
  hear them outside the womb.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_23-weeks-pregnant_1112.bc)*
  {{/markdown}}
  </article>

  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 22

  ###### January 18, 2016

  > At 11 inches and almost 1 pound (about the size of a spaghetti squash), your
  baby is starting to look like a miniature newborn. Their lips, eyelids, and eyebrows
  are becoming more distinct, and they're even developing tiny tooth buds beneath
  their gums. Their eyes have formed, but their irises (the colored part of the
  eye) still lack pigment.

  > If you could see inside your womb, you'd be able to spot the fine hair that
  covers their body and the deep wrinkles on their skin, which they'll sport until
  they add a padding of fat to fill them in. Inside their belly, their pancreas
  &mdash; essential for the production of some important hormones &mdash; is
  developing steadily.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_22-weeks-pregnant_1111.bc)*
  {{/markdown}}
  </article>

  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Week 21

  ###### January 11, 2016

  > Your baby now weighs about three-quarters of a pound and is approximately 10 1/2
  inches long — about the size of a carrot. You may soon feel like they're practicing
  martial arts as their initial fluttering movements turn into full-fledged kicks
  and nudges. You may also discover a pattern to their activity as you get to know
  them better. In other developments, your baby's eyebrows and lids are present now,
  and if you're having a girl, her vagina has begun to form as well.

  *Source: [www.babycenter.com](http://www.babycenter.com/6_your-pregnancy-21-weeks_1110.bc)*
  {{/markdown}}
  </article>

  <article class="c-card s-markdown-content--updates">
  {{#markdown}}
  ### Welcome!

  ###### January 8, 2016

  Welcome to our baby announcment website! We're expecting baby Showalter to
  join us sometime around May 23, 2016.

  We'll be using this page to post updates from our doctor's visits, pictures
  related to the pregnancy, and links to our registry.

  Thank you for joining us!
  {{/markdown}}
  </article>

</section>
