// ----------
//
// o-site-header
//
// header object that contains our announcement and due date components
//
// ----------

.o-site-header {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  padding: 0 1rem;
}
