// ----------
//
// variables
//
// project variables. functions and mixins belong in their own files.
//
// ----------

// colors
$c-primary: #2c3e50;
$c-secondary: lighten(#f1c40f, 15%);

$c-white: #fefefe;
$c-silver: #ecf0f1;
$c-grey: #95a5a6;
$c-grey-light: #bdc3c7;
$c-grey-dark: #7f8c8d;
$c-black: #404040;
$c-shadow: rgba($c-black, .25);

$c-girl: pink;
$c-boy: powderblue;

// fonts
$f-sans: 'Poppins', sans-serif;
$f-serif: 'Lora', serif;

// timings
$t-anim: 150ms;
